<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#user_name {
	
	color: white;
	font-size: 42px;
	font-weight: 650;
}

#blanco {
	color: white;
}

</style>
<!-- end Simple Custom CSS and JS -->
